<div class="hero-area">
    <div class="banner-content-wrapper hero-slider-wrapper">
        <div class="banner-content single-slide bg-image text-black" data-bgimage="assets/image/bg-images/home-4/slider-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10">
                        <h3 class="title--sm title-sm-shadowlight" data-animation="fadeInDown" data-duration="1.5s" data-delay=".8s">Best Choice For Restaurant, Cafe And More...</h3>
                        <h1 class="title--lg title-lg-arvo--bold" data-animation="fadeInLeft" data-duration="1.5s" data-delay=".8s">Original Coffee</h1>
                        <p data-animation="fadeInLeft" data-duration="1.5s" data-delay=".8s">Mirum est notare quam littera gothica, quam nunc putamus parum claram, <br> anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.</p>
                        <div class="banner_btn" data-animation="fadeInUp" data-duration="1.5s" data-delay=".8s">
                            <a class="theme-btn">Discover Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="banner-content single-slide bg-image text-black" data-bgimage="assets/image/bg-images/home-4/slider-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10">
                        <h3 class="title--sm title-sm-shadowlight" data-animation="fadeInDown" data-duration="1.5s" data-delay=".8s">Best Choice For Restaurant, Cafe And More...</h3>
                        <h1 class="title--lg title-lg-arvo--bold" data-animation="fadeInLeft" data-duration="1.5s" data-delay=".8s">Belly Coffe</h1>
                        <p data-animation="fadeInLeft" data-duration="1.5s" data-delay=".8s">Mirum est notare quam littera gothica, quam nunc putamus parum claram, <br> anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.</p>
                        <div class="banner_btn" data-animation="fadeInUp" data-duration="1.5s" data-delay=".8s">
                            <a class="theme-btn">Discover Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<section class="home-4__welcome-section section-padding pb-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="welcome__description text-center">
                    <h3 class="welcome__title--sm">Welcome To Belly</h3>
                    <h2 class="welcome__title--mid text-black">Who Are The Best</h2>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue
                        duis dolore te feugait.</p>
                    <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming.</p>
                    <div class="welcome_sig-image  img-border-bottom">
                        <img src="assets/image/banner/welcome-image.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product-section section-padding">
    <div class="container">
        <div class="section-title section-title-sep-3 text-black">
            <h2>Recent Product</h2>
            <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum.</p>
        </div>
        <div class="product-slider mini-items-slider">
            <div class="product__single-slide">
                <div class="belly-product product-style-2">
                    <div class="product__image">
                        <img src="assets/image/products/home-4/product-2.jpg" alt="">
                        <div class="hover-content">
                            <a class="hover-image">
                                <img src="assets/image/products/home-4/product-1.jpg" alt="">
                            </a>
                            <div class="hover-btns btn-type-2">
                                <a class="single-btn"><i class="ion-md-heart-empty"></i></a>
                                <a class="single-btn"><i class="ion-md-options"></i></a>
                                <a class="single-btn" role="button" class="single-btn" data-toggle="modal" data-target="#quick-view"><i class="ion-md-open"></i></a>
                            </div>
                        </div>
                        <span class="product-badge badge--sell-chocolate"></span>
                    </div>
                    <div class="product-description text-center">
                        <h3 class="product__caption">
                            <a>Fusce Aliquam</a>
                        </h3>
                        <div class="rating-widget">
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star-half"></i></span>
                            <span class="single-rating"><i class="ion-md-star-outline"></i></span>
                        </div>
                        <div class="product__price">
                            <span class="price--old">$150</span>
                            <span class="price--new">$150</span>
                        </div>
                        <div class="product__btn">
                            <a routerLink="/carts/cart" class="theme-btn-outlined theme-btn-outlined--type-2">add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product__single-slide">
                <div class="belly-product  product-style-2">
                    <div class="product__image">
                        <img src="assets/image/products/home-4/product-3.jpg" alt="">
                        <div class="hover-content">
                            <a class="hover-image">
                                <img src="assets/image/products/home-4/product-4.jpg" alt="">
                            </a>
                            <div class="hover-btns btn-type-2">
                                <a class="single-btn"><i class="ion-md-heart-empty"></i></a>
                                <a class="single-btn"><i class="ion-md-options"></i></a>
                                <a class="single-btn" role="button" class="single-btn" data-toggle="modal" data-target="#quick-view"><i class="ion-md-open"></i></a>
                            </div>
                        </div>
                        <span class="product-badge badge--sell-chocolate"></span>
                    </div>
                    <div class="product-description text-center">
                        <h3 class="product__caption">
                            <a>Fusce Aliquam</a>
                        </h3>
                        <div class="rating-widget">
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star-half"></i></span>
                            <span class="single-rating"><i class="ion-md-star-outline"></i></span>
                        </div>
                        <div class="product__price">
                            <span class="price--old">$150</span>
                            <span class="price--new">$150</span>
                        </div>
                        <div class="product__btn">
                            <a routerLink="/carts/cart" class="theme-btn-outlined theme-btn-outlined--type-2">add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product__single-slide">
                <div class="belly-product  product-style-2">
                    <div class="product__image">
                        <img src="assets/image/products/home-4/product-5.jpg" alt="">
                        <div class="hover-content">
                            <a class="hover-image">
                                <img src="assets/image/products/home-4/product-2.jpg" alt="">
                            </a>
                            <div class="hover-btns btn-type-2">
                                <a class="single-btn"><i class="ion-md-heart-empty"></i></a>
                                <a class="single-btn"><i class="ion-md-options"></i></a>
                                <a class="single-btn" role="button" class="single-btn" data-toggle="modal" data-target="#quick-view"><i class="ion-md-open"></i></a>
                            </div>
                        </div>
                        <span class="product-badge badge--sell-chocolate"></span>
                    </div>
                    <div class="product-description text-center">
                        <h3 class="product__caption">
                            <a>Fusce Aliquam</a>
                        </h3>
                        <div class="rating-widget">
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star-half"></i></span>
                            <span class="single-rating"><i class="ion-md-star-outline"></i></span>
                        </div>
                        <div class="product__price">
                            <span class="price--old">$150</span>
                            <span class="price--new">$150</span>
                        </div>
                        <div class="product__btn">
                            <a routerLink="/carts/cart" class="theme-btn-outlined theme-btn-outlined--type-2">add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product__single-slide">
                <div class="belly-product  product-style-2">
                    <div class="product__image">
                        <img src="assets/image/products/home-4/product-6.jpg" alt="">
                        <div class="hover-content">
                            <a class="hover-image">
                                <img src="assets/image/products/home-4/product-1.jpg" alt="">
                            </a>
                            <div class="hover-btns btn-type-2">
                                <a class="single-btn"><i class="ion-md-heart-empty"></i></a>
                                <a class="single-btn"><i class="ion-md-options"></i></a>
                                <a class="single-btn" role="button" class="single-btn" data-toggle="modal" data-target="#quick-view"><i class="ion-md-open"></i></a>
                            </div>
                        </div>
                        <span class="product-badge badge--sell-chocolate"></span>
                    </div>
                    <div class="product-description text-center">
                        <h3 class="product__caption">
                            <a>Fusce Aliquam</a>
                        </h3>
                        <div class="rating-widget">
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star-half"></i></span>
                            <span class="single-rating"><i class="ion-md-star-outline"></i></span>
                        </div>
                        <div class="product__price">
                            <span class="price--old">$150</span>
                            <span class="price--new">$150</span>
                        </div>
                        <div class="product__btn">
                            <a routerLink="/carts/cart" class="theme-btn-outlined theme-btn-outlined--type-2">add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product__single-slide">
                <div class="belly-product  product-style-2">
                    <div class="product__image">
                        <img src="assets/image/products/home-4/product-7.jpg" alt="">
                        <div class="hover-content">
                            <a class="hover-image">
                                <img src="assets/image/products/home-4/product-3.jpg" alt="">
                            </a>
                            <div class="hover-btns btn-type-2">
                                <a class="single-btn"><i class="ion-md-heart-empty"></i></a>
                                <a class="single-btn"><i class="ion-md-options"></i></a>
                                <a class="single-btn" role="button" class="single-btn" data-toggle="modal" data-target="#quick-view"><i class="ion-md-open"></i></a>
                            </div>
                        </div>
                        <span class="product-badge badge--sell-chocolate"></span>
                    </div>
                    <div class="product-description text-center">
                        <h3 class="product__caption">
                            <a>Fusce Aliquam</a>
                        </h3>
                        <div class="rating-widget">
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star-half"></i></span>
                            <span class="single-rating"><i class="ion-md-star-outline"></i></span>
                        </div>
                        <div class="product__price">
                            <span class="price--old">$150</span>
                            <span class="price--new">$150</span>
                        </div>
                        <div class="product__btn">
                            <a routerLink="/carts/cart" class="theme-btn-outlined theme-btn-outlined--type-2">add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding testimonial-section bg-image " data-bgimage="assets/image/bg-images/home-4/testimonial-bg.png">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-6 col-md-8 offset-md-4">
                <div class="testimonial-block testimonial-slider">
                    <div class="single-block">
                        <div class="section-title title-seperator-1">
                            <h2 class="testimonial-title">What Clients Say?</h2>
                        </div>
                        <p> " When a beautiful design is combined with powerful technology, it truly is an artwork. I love how my website operates and looks with this theme. Thank you for the awesome product. " ..</p>
                        <div class="testimonial_client-profile">
                            <div class="client-img">
                                <img src="assets/image/others/client-img-1.jpg" alt="">
                            </div>
                            <div class="client-details">
                                <h6>Megdalena Valencia</h6>
                            </div>
                        </div>
                    </div>
                    <div class="single-block">
                        <div class="section-title title-seperator-1">
                            <h2 class="testimonial-title">What Clients Say?</h2>
                        </div>
                        <p> " When a beautiful design is combined with powerful technology, it truly is an artwork. I love how my website operates and looks with this theme. Thank you for the awesome product. " ..</p>
                        <div class="testimonial_client-profile">
                            <div class="client-img">
                                <img src="assets/image/others/client-img-1.jpg" alt="">
                            </div>
                            <div class="client-details">
                                <h6>Megdalena Valencia</h6>
                            </div>
                        </div>
                    </div>
                    <div class="single-block">
                        <div class="section-title title-seperator-1">
                            <h2 class="testimonial-title">What Clients Say?</h2>
                        </div>
                        <p> " When a beautiful design is combined with powerful technology, it truly is an artwork. I love how my website operates and looks with this theme. Thank you for the awesome product. " ..</p>
                        <div class="testimonial_client-profile">
                            <div class="client-img">
                                <img src="assets/image/others/client-img-1.jpg" alt="">
                            </div>
                            <div class="client-details">
                                <h6>Megdalena Valencia</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>