<div class="belly-bredcrumb-section">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="">Home</a></li>
            <li><a>Categoria 1</a></li>
            <li><a>Product</a></li>
        </ul>
    </div>
</div>
<section class=" section-padding pt-0">
    <div class="container">
        <div class="belly-product belly-product--details product-details--left-thumbnail">
            <div class="row">
                <div class="col-md-5">
                    <div class="product__image">
                        <div class="product-image-main">
                            <img src="assets/image/products/single-product/single-product-big-1.jpg" height="536" alt="" />
                        </div>

                    </div>
                </div>
                <div class="col-md-7">

                    <div class="product-description">
                        <h3 class="product__caption">Accumsan Elit</h3>
                        <div class="rating-widget">
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star"></i></span>
                            <span class="single-rating"><i class="ion-md-star-half"></i></span>
                            <span class="single-rating"><i class="ion-md-star-outline"></i></span>
                            <span>
                                <span class="rating-text"><a href="#"> 1 reviews </a> / <a href="#">Write a review</a></span>
                            </span>
                        </div>
                        <div class="product__price">
                            <span class="price--new">$350</span>
                        </div>
                        <div class="product-description--list">
                            <br>
                            <p>Ex Tax: $320.00</p>
                            <p>Reward Points: %s 400</p>
                            <br>
                            <p>Brands <a href="#" class="brand-tag text-primary">Hewlett-Packard</a></p>
                            <p>Product Code: <span class="text-primary">3</span> </p>
                            <p>Reward Points: <span class="text-primary">300</span></p>
                            <p>Availability: <span class="text-primary">In Stock</span></p>
                        </div>
                        <div class="product-description--breif">
                            <p>
                                Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Vivamus
                                adipiscing nisl ut dolor dignissim semper. Nulla luctus malesuada tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, p..
                            </p>
                        </div>
                        <div class="product-buttons--group ">
                            <div class="single-btn-block count-input-block">
                                <input type="number" class="form-control text-center" value="1">
                                <div class="count-input-btns">
                                    <button class="inc-ammount count-btn">+</button>
                                    <button class="dec-ammount count-btn">-</button>
                                </div>
                            </div>
                            <div class="single-btn-block">
                                <a class="theme-btn-outlined">Add to wishlist</a>
                            </div>
                            <div class="single-btn-block">
                                <a class="theme-btn-outlined">Add to Compare</a>
                            </div>
                            <div class="single-btn-block">
                                <a routerLink="/carts/cart" class="theme-btn ">Add to Cart</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>